# Rust
/target/
**/*.rs.bk

# Env files
.env
.env.local
.env.*
!.env.example

# OS & Filesystem
.DS_Store
Thumbs.db
*Zone.Identifier

# IDEs & Editors
.vscode/
.idea/
*.swp
*.swo

# Deployment
fantasy-express-bot.service

# Project Specific
docs/
internal/
